<html ng-app="SampleApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.js"></script>
<style type="text/css">
  .text-warning {
    background-color: red;
  }
</style>
</head>
  <body ng-controller="TextAreaWithLimitControl">
    <div class="container">
      <span ng-class="{'text-warning' : shouldWarn()}">
        Remaining: {{remaining()}}
      </span>
      <div class="row">
        <textarea ng-model="message">
          {{message}}
        </textarea>
      </div>
      <div class="row">
        <button ng-disabled="!hasValidLength()" ng-click="send()">Send</button>
        <button ng-click="clear()">Clear</button>
      </div>
    </div>
    <script type="text/javascript" src="js/textBox.js"></script>
  </body>
</html>
