<html ng-app="sampleApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.js"></script>
<style type="text/css">
  .text-red {
    background-color: red;
    font-size: 40px;
  }
  .text-green {
    background-color: green;
    font-size: 40px;
  }
  #textBox {
    width: 300px;
    height: 50px;
  }
</style>
</head>
  <body>
  <div ng-controller="TextAreaWithLimitControl">
    <div class="container">
      <span> App Started: {{ appStarted }}  </span> <br>
      <span ng-class="{'text-red' : shouldBeRed(), 'text-green' : shouldBeGreen()}">
        Remaining: {{ remaining() }}
      </span>

      <div class="row">
        <textarea id="textBox"ng-disabled="!hasValidLength()" ng-model="message">
          {{message}}
        </textarea>
      </div>

      <div class="row">
        <button ng-disabled="!hasValidLength()" ng-click="send()">Send</button>
        <button ng-click="clear()">Clear</button>
        <button ng-click="doFactoryMethod1()">doFactoryMethod1</button>
        <button ng-click="doFactoryMethod2()">doFactoryMethod2</button>
      </div>
    </div>

    <ul ng-model="messages">
      <li ng-repeat='message in messages'>
      no. {{ $index + 1 }} {{ message.data }}
      <button ng-click="remove($index)">remove</button>
      </li>
    </ul>
    <div ng-controller="DieselController">
      <form ng-submit="submitDiesel()">
        Steam Engine Year: <input type="text" ng-model="steamEngineYear"> <br>
        Steam Engine Cylinders:<input type="text" ng-model="steamEngineCylinders"> <br>
        Steam Engine Horsepower<input type="text" ng-model="steamEngineHorsepower"> <br>
        Steam Engine Manufacturer<input type="text" ng-model="steamEngineManufacturer"> <br>
        <input type="submit">
      
      
      </form>
      
      year: {{ steamEngineData.year }} <br>
      horsepower: {{ steamEngineData.horsepower }} <br>
      cylinders: {{ steamEngineData.cylinders }} <br>
      manufacturer: {{ steamEngineData.manufacturer }} <br>
      horsepower per cylinder: {{ steamEngineData.horsepowerPerCylinder }}

     
    
    </div>
  </div>
    <script type="text/javascript" src="js/textBox.js"></script>
  </body>
</html>
