<html ng-app="SampleApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.js"></script>
<style type="text/css">
  .text-red {
    background-color: red;
    font-size: 50px;
  }
  .text-green {
    background-color: green;
    font-size: 50px;
</style>
</head>
  <body ng-controller="TextAreaWithLimitControl">
    <div class="container">
      <span ng-class="{'text-red' : shouldBeRed(), 'text-green' : shouldBeGreen()}">
        Remaining: {{ remaining() }}
      </span>

      <div class="row">
        <textarea ng-disabled="" ng-model="message">
          {{message}}
        </textarea>
      </div>

      <div class="row">
        <button ng-disabled="!hasValidLength()" ng-click="send()">Send</button>
        <button ng-click="clear()">Clear</button>
      </div>
    </div>

    <ul ng-model="messages">
      <li ng-repeat='message in messages'>
      no. {{ $index + 1 }} {{ message.data }}
      <button ng-click="remove($index)">remove</button>
      </li>
    </ul>
    <script type="text/javascript" src="js/textBox.js"></script>
  </body>
</html>
